            html {
            height: 100%;
            background: url(../assets/images/splashscreenImages/background.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          
            margin: 0;
        }
        
        body {
            margin: 0px;
        }
        /*
classes
*/
        
        .languageSelectUl {
            list-style: none;
        }
        
        .languagSelection {
            display: inline-block;
            background-color: #87c33e;
            padding: 10px;
            margin: 0;
            color: white;
            text-align: center;
            width: 30px;
            font-family: 'Source Sans Pro', sans-serif;
            
        }
        
        .languagSelection:hover {
            background-color: #2386a7;
            transition: background-color 0.3s;
        }
        
        .welcome {
            border-radius: 10px;
            background-color: #87c33e;
            margin: 0 auto 20px;
            width: 50%;
            padding: 20px;
            text-align: justify;
            color: white;
            font-weight: bold;
            font-size: larger;
           
        }
        
        
        
        .button {
            box-sizing: border-box;
            display: block;
          
            
            background-color: rgba(0,0,0,0);
            
            width: 80%;
            margin: 30px auto;
           
            text-align: center;
            color: white;
            border: 4px solid white;
            border-radius: 10px;
            font-weight: bold;
            font-size: 30px;
            padding: 25px;
            transition: all 1.5s;
            font-family: 'Source Sans Pro', sans-serif;
            
        }

        .button:hover {
            box-sizing: border-box;
            display: block;
          
            
            background-color: white;
            
            width: 80%;
            margin: 30px auto;
           
            text-align: center;
            color: #87c33e;
            border: 4px solid white;
            border-radius: 10px;
            font-weight: bold;
            font-size: 30px;
            padding: 25px;
            font-family: 'Source Sans Pro', sans-serif;
            
        }

        .buttonlink {
            
            color:  #87c33e;
            text-decoration: none;
        }
        
       
        /*
ids
*/
        
        #languageSelectionLu {
            position: fixed;
            top: 0;
            left: 0;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        #languageSelectionAll {
            position: fixed;
            top: 0;
            left: 50px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        #languageSelectionFr {
            position: fixed;
            top: 0;
            left: 50px;
            font-family: 'Source Sans Pro', sans-serif;
        }
        
        #animatedLogo {
            position: fixed;
            top: 5px;
            right: 5px;
            animation: fadein 10s;
            font-family: 'Source Sans Pro', sans-serif;
        }

        #splashCentralContainer {

            
            border-radius: 45px;
        
            border: 8px solid white;
            background: linear-gradient(235deg, rgba(19, 64, 80, 1) 0%, rgba(30, 115, 147, 1) 35%, rgba(19, 63, 79, 1) 100%);
            margin: 20% auto;
            width: 35%;
            padding: 35px;
            font-family: 'Source Sans Pro', sans-serif;

        }

        #welcomeText {

            box-sizing: border-box;
          
            
            background-color: rgba(0,0,0,0);
            
            width: 100%;
           
            text-align: justify;
            color: white;
            font-weight: bold;
            padding: 15px;
            font-size: 20px;
            font-family: 'Source Sans Pro', sans-serif;

        }
        
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @keyframes widthIn {
            from {
                width: 0%;
                color: #87c33e;
                font-size: 0px;
            }
            to {
                width: 50%;
                color: white;
                font-size: larger;
            }
        }
        /*GSM*/
        
        @media only screen and (max-width: 768px) {

            .button {
                box-sizing: border-box;
              
                
                background-color: rgba(0,0,0,0);
                
                width: 80%;
                margin: 30px auto;
               
                text-align: center;
                color: white;
                border: 4px solid white;
                border-radius: 10px;
                font-weight: bold;
                font-size: small;
                padding: 10px;
                font-family: 'Source Sans Pro', sans-serif;
                
            }

            .button:hover {
                box-sizing: border-box;
              
                
                background-color: white;
                
                width: 80%;
                margin: 30px auto;
               
                text-align: center;
                color: #87c33e;
                border: 4px solid white;
                border-radius: 10px;
                font-weight: bold;
                font-size: small;
                padding: 10px;
                font-family: 'Source Sans Pro', sans-serif;
                
            }

            #welcomeText {

                box-sizing: border-box;
              
                
                background-color: rgba(0,0,0,0);
                
                width: 100%;
               
                text-align: justify;
                color: white;
                font-weight: bold;
                padding: 15px;
                font-size: 12px;
                font-family: 'Source Sans Pro', sans-serif;
    
            }
            
            }