.textMotduDirecteur {
    text-align: justify;
    color: white;
    font-size: 26px;
    line-height: 1.5;
    width: 60%;
    margin: 40px auto 20px;
    padding-bottom: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    animation: fadein 5s;
}

/*

.bigButtonGreen {
    background: rgb(135, 195, 62);
    background: linear-gradient(180deg, rgba(135, 195, 62, 1) 0%, rgba(74, 230, 142, 1) 44%, rgba(135, 195, 62, 1) 100%);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px 60px 5px;
    color: white;
    font-weight: bold;
    width: 210px;
    height: 100px;
    font-size: larger;
    animation: fadein 5s;
}

.bigButtonGreen:hover {
    background-color: #87c33e;
    border: 2px solid #2386a7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-weight: bold;
    width: 220px;
    font-size: larger;
    transition: all 1s;
}

*/

@media only screen and (max-width: 768px) {
    .textMotduDirecteur {
        text-align: justify;
        color: white;
        font-size: 14px;
        line-height: 1.5;
        width: 60%;
        margin: 40px auto 20px;
        padding-bottom: 50px;
        font-family: 'Source Sans Pro', sans-serif;
        animation: fadein 5s;
    }
}