body {
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 90%;
  margin: 0 auto;
}

#logos {
  background-color: lightgray;
  
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#navigations {
  text-align: center;
  border: 2px black solid;
  margin-bottom: 10px;
}

.maintext {
 
  text-align: justify;
  /*border: 2px black solid;*/
  padding: 20px;
  background-color: lightgray;
  
  margin-bottom: 10px;
  overflow: hidden;
  border: 2px solid #333;
}

.cardcontainer {
  background-color: lightgray;
  
  padding: 20px;
  margin-bottom: 10px;;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  border: 2px #333 solid;
}

.card {
  text-align: center;
  border: 2px black solid;
  padding: 20px;
  margin: 0 auto;
  height: 200px;
  min-width: 200px;
  max-width: 200px;
  background-color: #999;
  margin-bottom: 20px;
  grid-gap: 10px;
  transition: all 1s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardlogo {
  max-width: 200px;
  max-height: 100px;
}

.buttonNav  {
  border: 2px white solid;
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
  display: inline-block;
  color: white;
  transition: all 1s;
  margin-bottom: 40px;
  margin: 0 auto;
  text-decoration: none;
}

.buttonNav:hover  {
  border: 2px #333 solid;
  padding: 12px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  color: #333;
  
}

.standardbox {
  background-color: blue;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  background-color: lightgray;
}

.video {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #333;
  padding: 5px;
}

.boxlink {
  text-decoration: none;
  color: black;
}

.pdfbox {
  border: 5px solid #333;
  max-width: 1000px;
  margin: 0 auto;
}

.downloadButton {
  border: 2px white solid;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  display: inline-block;
  color: white;
  margin: 0 auto;
  display: inline-block;
}

.normalImage {
  border: solid gray 4px;
  padding: 5px;
  margin: 0 auto;
  display: block;
  width: 50%;
  transition: all 1s;

}

.normalImage:hover {
  border: solid gray 4px;
  padding: 5px;
  margin: 0 auto;
  display: block;
  width: 60%;

}

.appimage {
  width: 150px;
  border: solid gray 4px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}








/* Media Queries*/

@media only screen and (max-width: 1120px) {

  .cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  
}

@media only screen and (max-width: 650px) {

  .cardcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
  }
  .video {
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #333;
    padding: 2px;
    width: 95%;
    overflow: hidden;
  }
  
}
